{{ define "admin/updateuser" }}
{{ template "head" . }}
<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">编辑用户信息</h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="page-inner mt--5 ">
            <div class="card mt--2">
                <div class="card-body">
                    <form action="/admin/updateuser" method="POST" autocomplete="off">
                        {{ with .editUser }}
                        <div class="row mt-5">
                            <div class="offset-md-1 col-md-5">
                                <div class="form-group center-block">
                                    <label class="font-black">用户名</label>
                                    <input type="text" class="form-control" name="username" value="{{ .Username }}"
                                    placeholder="用户名" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="font-black">密码</label>
                                    <input type="password" class="form-control" name="password" value=""
                                        placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="font-black">确认密码</label>
                                    <input type="password" class="form-control" name="confirm" value=""
                                        placeholder="确认密码"> 
                                </div>
                                <div class="form-group">
                                    <label for="role" class="font-black">使用权限</label>
                                    <input type="" class="form-control" name="role" placeholder="普通用户" value="{{ .Role | role2Str }}"
                                        readonly>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="email" class="font-black">邮箱</label>
                                    <input type="email" class="form-control" name="email" value="{{ .Email }}"
                                        placeholder="xxx@xxx.com">
                                </div>
                                <div class="form-group">
                                    <label for="text" class="font-black">手机号</label>
                                    <input type="text" class="form-control" name="phone" value="{{ .Phone }}" placeholder="手机号">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="font-black">创建时间</label>
                                    <input type="email" class="form-control"  name="CreatedAt" value="{{ .CreatedAt}}"
                                        placeholder="" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="font-black">最近登录时间</label>
                                    <input type="text" class="form-control" name="LastLoginAt" value="{{ .LastLoginAt }}"
                                        placeholder="" readonly>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        <div class="row mt-2">
                            <div class="offset-md-9 card-action">
                                <button class="btn btn-sm btn-default " type="submit"><i
                                        class="fa fa-check-square"></i>&nbsp;&nbsp;修改</button>
                                <button class="btn btn-sm btn-secondary " type="reset"><i
                                        class="fa fa-refresh"></i>&nbsp;&nbsp;重置</button>
                                <a href="/admin/usermanage" class="btn btn-sm btn-default"><i
                                        class="fas fa-arrow-left"></i>&nbsp;&nbsp;返回</a>
                                <!-- <button class="btn btn-sm btn-default " onclick="location.href='profile'"><i
                                        class="fas fa-arrow-left"></i>&nbsp;&nbsp;返回</button> -->
                            </div>
                            <!-- <input type="submit" class="btn-secondary btn-round btn-submit mt-4" value="注册"> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- {{ with .editUser }}
    <div style="display:none;" id="getUsername">{{ .Username }}</div>
    <div style="display:none;" id="getRole">{{ .Role | role2Str }}</div>
    <div style="display:none;" id="getEmail">{{ .Email }}</div>
    <div style="display:none;" id="getPhone">{{ .Phone }}</div>
    <div style="display:none;" id="getCreatedAt">{{ .CreatedAt }}</div>
    <div style="display:none;" id="getLastLoginAt">{{ .LastLoginAt }}</div>
    {{ end }}
    <script>
        $("#username").attr("placeholder", document.getElementById("getUsername").innerHTML);
        $("#role").attr("placeholder", document.getElementById("getRole").innerHTML);
        $("#email").attr("placeholder", document.getElementById("getEmail").innerHTML);
        $("#phone").attr("placeholder", document.getElementById("getPhone").innerHTML);
        $("#CreatedAt").attr("placeholder", document.getElementById("getCreatedAt").innerHTML);
        $("#LastLoginAt").attr("placeholder", document.getElementById("getLastLoginAt").innerHTML);
    </script> -->
    {{ if .message }}
    <div style="display:none;" id="getmessage">{{ .message }}</div>
    <script>alert(document.getElementById("getmessage").innerHTML)</script>
    {{end}}
</div>
{{ template "footer" }}
{{ end }}