{{ define "login.html" }}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }} - 猎狐蜜罐</title>
    </head>
    <body>
        {{ if .message }}
        <p>{{ .message }}</p>
        {{end}}
        <form action="/login" method="POST", autocomplete="off">
            <div>
                <input type="text" name="username", id="username", placeholder="Username">
            </div>
            <div>
                <input type="password" name="password", id="password", placeholder="Password">
            </div>
            <input type="submit" value="登录">
        </form>
    </body>
</html>
{{ end }}